   h1{
    text-align: center;
    color: rgb(153, 255, 0);
    background-color: purple;
   }
   nav{
    margin: 10px 0px;
    text-align: center;
    text-decoration: solid;
    padding: 10px;
   }
   nav a {
    text-decoration: solid;
    padding: 10px;
   }
   header a{
    background-color: blue;
    color: white;
    text-decoration: solid;
    font-size: 16px;
    padding: 5px 18px;
    border-radius: 8px;
   }
   h2{
   text-align: center;

   }
   nav{
    margin: 10px 0px;
    text-align: center;
   }
   
   nav img{
      border:3px solid black;
      margin: 10px;
   }
   main a{
    background-color: rgb(255, 102, 0);
    color: white;
    text-decoration: solid;
    font-size: 16px;
    padding: 5px 18px;
    border-radius: 8px;
   }
body{
   font-size:20px;
}
